body {
    background-image: url("Minecraft.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    font-family: "Saira", sans-serif;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    color: rgb(234, 138, 156);
    padding: 15px 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: rgb(234, 138, 156);
    text-decoration: none;

}

.nav-links a:hover {
    color: hotpink;
    text-decoration: underline;

}

.logo {
    font-weight: 800;
    font-size: 20px;
    color: rgb(234, 138, 156);
}

h1 {
    border-style: double;
    border-width: 4px;
    border-color: lightpink;
    border-radius: 4px;
    background-color: antiquewhite;
    color: rgb(234, 138, 156);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 5px;
    background: linear-gradient(to left lightpink, white);
    background-repeat: no-repeat;
    background-attachment: fixed;

    animation: mySlide;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-delay: 0s;
}

@keyframes mySlide {
    from {
        margin-left: 100%
    }

    to {
        margin-left: 0%
    }
}

h2 {
    color: rgb(234, 138, 156);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(to right lightpink, white);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

p {
    border-style: double;
    border-width: 4px;
    border-color: lightpink;
    border-radius: 4px;
    background-color: antiquewhite;
    color: deeppink;
    padding: 5px;
    background: linear-gradient(to left lightpink, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;


}